@model DVTR.DVTR.DAL.ApplicantContract
@using DVTR.DVTR.DAL
@{
    ViewBag.Title = "ApplicantContract";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Applicant Contract</h4>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="col-md-4">Current gross salary</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.CurrentGrossSalary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CurrentGrossSalary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Current perfomance bonus</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.CurrentPerfomanceBonus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CurrentPerfomanceBonus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Medical aid employer contibution</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.MedicalAidEmpContribution, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MedicalAidEmpContribution, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Medical aid individual contribution</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.MedicalAidIndContribution, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MedicalAidIndContribution, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Provident pension employment contribution</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.ProvidentPensionEmpContribution, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProvidentPensionEmpContribution, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Provident pension individual contribution</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.ProvidentPensionIndContribution, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProvidentPensionIndContribution, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Other employment contribution</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.OtherEmpContribution, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OtherEmpContribution, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Other individual contribution</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.OtherIndContribution, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OtherIndContribution, "", new { @class = "text-danger" })
            </div>
        </div>
        @{

            var empTypes = (List<EmploymentType>)ViewBag.EmpTypes;
        }
        <div class="form-group">
            <label class="col-md-4">Current Employment Type</label>
            <div class="col-md-8">
                <select name="CurrentEmplTypeId" class="form-control">
                    @foreach (var item in empTypes)
                   {
                        <option value="@item.EmploymentTypeId">@item.EmploymentType1</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.CurrentEmplTypeId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <label class="col-md-4">Expected Employment Type</label>
            <div class="col-md-8">
                <select name="ExpectedEmpTypeId" class="form-control">
                @foreach (var item in empTypes)
                {
                    <option value="@item.EmploymentTypeId">@item.EmploymentType1</option>
                }
                </select>
                @Html.ValidationMessageFor(model => model.ExpectedEmpTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Notice period</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.NoticePeriod, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoticePeriod, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Permanent salary expectation</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.PermanentSalaryExpectation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PermanentSalaryExpectation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Contract salary expectation</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.ContractSalaryExpectation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ContractSalaryExpectation, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            <label class="col-md-4">Have you recently sent your CV to other companies? If yes which company?</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.RecentlySentCvToOtherComp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RecentlySentCvToOtherComp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Interview scheduled yet?</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.InterviewsScheduled, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InterviewsScheduled, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Reason for leavng current company?</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.ReasonLeavingCurrentComp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReasonLeavingCurrentComp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4">Preffered environment?</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.PreferredEnviroment, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PreferredEnviroment, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Next" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <div class="col-md-12 space"><a onclick="javascript:history.go(-1)" href="/"><< Back to List</a></div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
