<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DVT</title>

    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link href="~/Content/images/favicon.ico" rel="shortcut icon">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>
    -->
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="~/Content/images/dvt-academy-white.png" alt="DVT RECRUITMENT" style="display:block; width:100%; height:auto; margin:0 auto;" />
            </div>

    @if (Session["Username"] != null)
    {
            <div class="col-md-7 space">
                <ul class="list-unstyled list-inline">
                    <li><a href="~/Application/SavePerson" onclick="openCity(event, 'Form')">APPLY</a></li>
                    <li><a href="~/Home/UpdateMainMenu" onclick="openCity(event, 'Form')">UPDATE APPLICATION</a></li>
                    
                </ul>
            </div>
    }

            @{
                if (Session["Username"] != null)
                {
                    <div class="col-md-3 space pull-right">
                        Welcome <strong>@Session["Name"]</strong>, <a href="~/Home/logout" style="font-weight:bold; text-decoration:underline;">Logout</a>.
                    </div>
                }
            }
           



        </div>
    </div>

    <div class="container">
        <hr />
    </div>

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>

    </div>
    <footer>
        <p class="text-center">&copy; @DateTime.Now.Year - DVT Recruit</p>
    </footer>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>